.root {
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--color-bg);
  font-family: var(--font);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header, .footer {
  width: 100%;
  background: purple;
}
