.root {
  min-height: 100vh;
  min-height: 100dvh;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.title {
  font-size: 2em;
}

.section {
  border: 1px solid var(--color-text);
  padding: 1em;
}

.compteur {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.compteur button {
  padding: 0.5em 1em;
}
