:root {
  --color-bg: #000;
  --color-text: #fff;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  font-family: var(--font);
  color: var(--color-text);
}
